<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="https://bootswatch.com/4/cerulean/bootstrap.min.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Polozka</th>
            <th>N&#225zev</th>
            <th>Datum vytvo&#345en&#237</th>
            <th>Uprava</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items.content}" style="cursor: pointer">
            <td><img th:src="${'data:image/jpg;base64,'+item.imageToShow}" width="150" height="100"/></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.registerDate}"></td>
            <td th:text="${item.state}"></td>
            <td><a th:href="@{/itemDetail/{id}(id=${item.itemId})}">Edit</a></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${items.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/(size=${items.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==items.number + 1} ? active"></a>
    </div>

    <div th:replace="fragments/footer :: footer">&copy;2019 Footer</div>
</div>
</body>
</html>